html {
    height: 100%;
}
body {
    height: 100%;
    font-family: sans-serif;
    background-image: url("dust_scratches.webp");
    background-color: lightgray;
}
.container {
    height: 100%;
}
.header {
    padding: 10px 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    height: 100px;
}
.logo {
   font-size: 40px;
}
#mi {
    color: red;
}
#health {
    color: lime;
}
a {
    color: black;
    margin: 0 1em;
    font-size: 18px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 25px 75px;
}
.wording {
    width: 20%;
    padding: 10px;
    margin-right: 50px;
}
.statement {
    margin: 0px;
}
.images {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex: 1 60%; 
    align-items: center;
}
.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 33%;
    height: 67%;
    position: relative;
    margin: 0 7px;
}
.breakfast {
    background-image: url('images/breakfast_image.jpeg');
}
.lunch { 
    background-image: url('images/lunch_image.jpeg');
}
.dinner {
    background-image: url('images/dinner_image.jpeg');
}
.textBox {
    font-weight: bold;
}
.top {
    background-color: white;
    position: absolute;
    right: 0px;
    bottom: 2.7em;
    padding: .5em .6em;
}
.bottom {
    background-color: lime;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: .8em 1em;
    width: 6em;
    text-align: right;
}
#browse {
    display: flex;
    align-items: center;
}
#browse h3 {
    margin-right: 10px;
}
#browse span {
    font-size: 1.8em;
}
@media (min-width: 600px) {
    .statement {
        font-size: 0.6em;
    }
}
@media (min-width: 800px) {
    .statement {
        font-size: 2.8em;
    }
}
@media (min-width: 1200px) {
    .statement {
        font-size: 3.6em;
    }
}
